/* ====================================
   MICROSOFT HERO SECTION
==================================== */

.microsoftHero {
  position: relative;

  width: 100%;
  overflow: hidden;

  background: #ffffff;

  padding: 90px 100px;
}

/* ====================================
   WRAPPER
==================================== */

.heroWrapper {
  width: 100%;
  max-width: 1250px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

/* ====================================
   LEFT CONTENT
==================================== */

.heroContent {
  flex: 1;

  position: relative;
  z-index: 5;
}

/* ====================================
   BADGE
==================================== */

.heroBadge {
  display: inline-flex;
  align-items: center;

  font-size: 13px;
  font-weight: 900;

  background: linear-gradient(90deg, #053a51, #a3cf5d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
}

/* DOT */

/* ====================================
   TITLE
==================================== */

.heroTitle {
  font-size: 46px;

  font-weight: 700;

  line-height: 1.2;

  color: #000000;

  margin-bottom: 18px;
}

.highlight {
  color: #008abd;
}

/* ====================================
   SUBTITLE
==================================== */

.heroSubtitle {
  font-size: 14px;

  line-height: 1.5;

  color: #66737c;

  max-width: 620px;

  margin-bottom: 25px;

  font-weight: 400;
}

/* ====================================
   BUTTONS
==================================== */

.heroButtons {
  display: flex;
  align-items: center;

  gap: 22px;

  flex-wrap: wrap;
}

/* ====================================
   PRIMARY BUTTON
==================================== */

.primaryBtn {
  padding: 14px 30px;

  background: linear-gradient(90deg, #053a51, #a3cf5d);

  color: white;

  border-radius: 999px;

  text-decoration: none !important;

  font-size: 14px;
  font-weight: 600;

  transition: 0.3s ease;

  box-shadow: 0 15px 35px rgba(5, 58, 81, 0.12);
}

.primaryBtn:hover {
  transform: translateY(-2px);

  filter: brightness(1.05);
}

/* ====================================
   SECONDARY BUTTON
==================================== */

.secondaryBtn {
  padding: 14px 30px;

  background: white;

  border: 1px solid #dbe4ea;

  color: #0f172a;

  border-radius: 999px;

  text-decoration: none !important;

  font-size: 14px;
  font-weight: 600;

  transition: 0.3s ease;
}

.secondaryBtn:hover {
  transform: translateY(-2px);

  border-color: #008abd;
}

/* ====================================
   RIGHT SIDE
==================================== */

.heroRight {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* ====================================
   GLOW
==================================== */

/* ====================================
   CARD
==================================== */

.microsoftCard {
  position: relative;

  width: 260px;
  height: 220px;
  border: 1px solid rgba(176, 176, 176, 0.253);
  border-radius: 10%;

  background: rgba(255, 255, 255, 0.89);

  backdrop-filter: blur(14px);

  /* border: 1px solid #66737c; */

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;

  animation: floatCard 5s ease-in-out infinite;
}

/* ====================================
   IMAGE
==================================== */

.microsoftImage {
  width: 240px;

  object-fit: contain;
}

/* ====================================
   FLOATING TAG
==================================== */

.microsoftTag {
  position: absolute;

  bottom: 24px;
  right: -18px;

  background: white;

  padding: 12px 18px;

  border-radius: 16px;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);

  font-size: 13px;
  font-weight: 700;

  color: #053a51;

  display: flex;
  align-items: center;

  gap: 10px;
}

/* ====================================
   ANIMATION
==================================== */

@keyframes floatCard {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-14px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes glowFloat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* ====================================
   TABLET
==================================== */

@media (max-width: 1024px) {
  .heroWrapper {
    flex-direction: column;

    text-align: center;
  }

  .heroContent {
    text-align: center;
  }

  .heroSubtitle {
    margin: 0 auto 40px;
  }

  .heroButtons {
    justify-content: center;
  }
}

/* ====================================
   MOBILE
==================================== */

@media (max-width: 768px) {
  .microsoftHero {
    padding: 90px 22px 70px;
  }

  .heroWrapper {
    flex-direction: column;
  }

  .heroTitle {
    font-size: 38px;
  }

  .heroSubtitle {
    font-size: 15px;

    line-height: 1.8;
  }

  .heroButtons {
    flex-direction: column;

    width: 100%;
  }

  .primaryBtn,
  .secondaryBtn {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .microsoftCard {
    width: 260px;
    height: 260px;
  }

  .microsoftImage {
    width: 120px;
  }

  .microsoftTag {
    display: none;
  }
}

/* ====================================
   SMALL MOBILE
==================================== */

@media (max-width: 480px) {
  .heroTitle {
    font-size: 32px;
  }

  .heroSubtitle {
    font-size: 14px;
  }
}
/* overviw section  */

/* ===================================
   OVERVIEW SECTION
=================================== */

.overviewSection {
  width: 100%;
  background: #f8f8f8;
  padding: 70px 120px;
}

.overviewContainer {
  width: 100%;
  max-width: 1320px;
  margin: auto;

  display: grid;
  grid-template-columns: 0.95fr 1.05fr;
  gap: 50px;
  align-items: center;
}

/* ==========================
   LEFT
========================== */

.overviewLeft {
  position: sticky;
  top: 100px;
}

.overviewLabel {
  background: linear-gradient(90deg, #053a51, #a3cf5d);
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 900;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;

  padding: auto;
  display: inline-block;
}

.overviewTitle {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 800;
  color: #053a51;
  margin-bottom: 18px;
}

.overviewTitle span {
  color: #008abd;
}

.overviewDescription {
  font-size: 14px;
  line-height: 1.5;
  color: #66737c;
  max-width: 500px;
}

/* ==========================
   RIGHT
========================== */

.overviewTopText {
  display: none;
}

.overviewRight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

/* ==========================
   CARD
========================== */

.overviewCard {
  background: #ffffff;
  border: 1px solid rgba(5, 58, 81, 0.08);
  border-radius: 24px;
  padding: 24px;

  transition: 0.35s ease;
}

.overviewCard:hover {
  transform: translateY(-5px);

  border-color: rgba(0, 138, 189, 0.14);

  box-shadow:
    0 18px 35px rgba(0, 138, 189, 0.08),
    0 8px 18px rgba(5, 58, 81, 0.05);
}

/* ICON */

.overviewIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(-180deg, #f6fdff, #c6f0ff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b7fab;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

/* TITLE */

/* TEXT */

.overviewCard p {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  color: #66737c;
  margin: 0;
}

/* FEATURE LARGE CARD */

.overviewCard:nth-child(2),
.overviewCard:nth-child(5) {
  background: linear-gradient(
    135deg,
    rgba(0, 138, 189, 0.03),
    rgba(163, 207, 93, 0.04)
  );
}

/* ==========================
   RESPONSIVE
========================== */

@media (max-width: 1100px) {
  .overviewContainer {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .overviewLeft {
    position: relative;
    top: 0;
  }

  .overviewTitle {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .overviewSection {
    padding: 60px 20px;
  }

  .overviewRight {
    grid-template-columns: 1fr;
  }

  .overviewTitle {
    font-size: 30px;
  }

  .overviewDescription {
    font-size: 14px;
  }

  .overviewCard {
    padding: 20px;
    border-radius: 20px;
  }

  .overviewCard h3 {
    font-size: 16px;
  }

  .overviewCard p {
    font-size: 13px;
  }
}
/* features sections  */

/* =========================================
   CORE SERVICES SECTION
========================================= */

.servicesSection {
  position: relative;
  width: 100%;
  overflow: hidden;

  background: #ffffff;

  padding: 20px 30px;
}

/* SOFT BACKGROUND GLOW */

/* =========================================
   CONTAINER
========================================= */

.servicesContainer {
  width: 100%;
  max-width: 1480px;

  margin: 0 auto;

  padding: 80px 120px;

  position: relative;
  z-index: 2;
}

/* =========================================
   HEADER
========================================= */

.servicesHeader {
  text-align: center;

  max-width: 850px;

  margin: 0 auto 80px;

  animation: fadeUp 1s ease;
}

/* LABEL */

.servicesLabel {
  background: linear-gradient(90deg, #053a51, #a3cf5d);
  font-size: 13px;
  letter-spacing: 1.1px;
  font-weight: 800;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
  margin-bottom: 10px;
  padding: auto;
  display: inline-block;
}

/* TITLE */

.servicesTitle {
  font-size: 26px;

  font-weight: 800;
  max-width: 920px;
  line-height: 1.3;

  color: #053a51;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* HIGHLIGHT */

.servicesTitle span {
  color: #008abd;
}

/* DESCRIPTION */

.servicesDescription {
  font-size: 13px;
  line-height: 1.5;

  color: #66737c;

  max-width: 580px;

  margin: 0 auto;
}

/* =========================================
   GRID
========================================= */

.servicesGrid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 28px;
}

/* =========================================
   CARD
========================================= */

.serviceCard {
  position: relative;

  background: #ffffff;

  border-radius: 26px;

  padding: 34px 28px;

  border: 1px solid rgba(5, 58, 81, 0.08);

  overflow: hidden;

  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease,
    border 0.4s ease;

  box-shadow: 0 10px 25px rgba(5, 58, 81, 0.05);

  animation: fadeUp 1s ease;
}

/* TOP GLOW */

.serviceCard::before {
  content: '';

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 5px;

  /* background: linear-gradient(90deg, #053a51, #008abd, #a3cf5d); */
}

/* SHINE EFFECT */

/* HOVER */

.serviceCard:hover {
  transform: translateY(-14px);

  border: 1px solid rgba(0, 138, 189, 0.14);

  box-shadow: 0 24px 50px rgba(0, 138, 189, 0.12);
}

.serviceCard:hover::after {
  left: 140%;
}

/* =========================================
   ICON
========================================= */

.serviceIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(-180deg, #f6fdff, #c6f0ff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b7fab;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  transition:
    transform 0.4s ease,
    background 0.4s ease;
}

/* ICON HOVER */

/* =========================================
   CARD TITLE
========================================= */

.serviceTitle {
  font-size: 14px;
  line-height: 1.5;

  font-weight: 600;

  color: #053a51;

  margin-bottom: 16px;
}

/* =========================================
   CARD DESCRIPTION
========================================= */

.serviceText {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  color: #6b7280;
}

/* =========================================
   ANIMATION
========================================= */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================================
   LARGE LAPTOP
========================================= */

@media (max-width: 1400px) {
  .servicesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* =========================================
   TABLET
========================================= */

@media (max-width: 1100px) {
  .servicesContainer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .servicesGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .servicesTitle {
    font-size: 4rem;
  }
}

/* =========================================
   MOBILE
========================================= */

@media (max-width: 768px) {
  .servicesSection {
    padding: 90px 0;
  }

  .servicesContainer {
    padding-left: 22px;
    padding-right: 22px;
  }

  .servicesHeader {
    margin-bottom: 60px;
  }

  .servicesTitle {
    font-size: 2.8rem;

    line-height: 1.08;
  }

  .servicesDescription {
    font-size: 15px;

    line-height: 1.9;
  }

  .servicesGrid {
    grid-template-columns: 1fr;

    gap: 20px;
  }

  .serviceCard {
    padding: 28px 22px;

    border-radius: 22px;
  }

  .serviceIcon {
    width: 58px;
    height: 58px;

    border-radius: 16px;

    font-size: 20px;
  }

  .serviceTitle {
    font-size: 1.15rem;
  }

  .serviceText {
    font-size: 14px;
  }
}

/* =========================================
   SMALL MOBILE
========================================= */

@media (max-width: 480px) {
  .servicesTitle {
    font-size: 2.2rem;
  }
}

/* benefits section */

/* =========================================
   BENEFITS SECTION
========================================= */

.benefitsSection {
  width: 100%;
  background: #f8f8f8;
  padding: 70px 70px;
  overflow: hidden;
}

/* =========================================
   CONTAINER
========================================= */

.benefitsContainer {
  width: 100%;
  max-width: 2450px;

  margin: 0 auto;

  padding: 0px 120px;
}

/* =========================================
   LEFT SIDE
========================================= */

.benefitsLeft {
  text-align: center;

  margin-bottom: 90px;

  animation: fadeUp 1s ease;
}

/* LABEL */

.benefitsLabel {
  background: linear-gradient(90deg, #053a51, #a3cf5d);
  font-size: 13px;

  font-weight: 900;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
  margin-bottom: 10px;
  padding: auto;
  display: inline-block;
}

/* LINE */

/* TITLE */

.benefitsTitle {
  font-size: 26px;
  line-height: 1.5;

  font-weight: 700;

  color: #053a51;

  margin-bottom: 20px;
}

/* DESCRIPTION */

.benefitsDescription {
  font-size: 13px;
  line-height: 1.3;

  color: #6b7280;

  max-width: 520px;

  margin: 0 auto;
}

/* =========================================
   GRID
========================================= */

.benefitsGrid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 50px 34px;
}

/* =========================================
   CARD
========================================= */

.benefitCard {
  animation: fadeUp 1s ease;

  transition: transform 0.4s ease;
}

/* HOVER */

.benefitCard:hover {
  transform: translateY(-8px);
}

/* =========================================
   ICON
========================================= */

.benefitIcon {
  font-size: 38px;

  color: #008bbd;

  margin-bottom: 26px;

  transition:
    transform 0.4s ease,
    color 0.4s ease;
}

/* ICON HOVER */

/* =========================================
   CARD LINE
========================================= */

.benefitCard::after {
  content: '';

  display: block;

  width: 100%;
  height: 1px;

  background: #cfd7e3;

  margin-top: 24px;
  margin-bottom: 24px;
}

/* =========================================
   TITLE
========================================= */

.benefitCard h3 {
  font-size: 14px;
  line-height: 1.5;

  font-weight: 600;

  color: #053a51;

  margin-bottom: 14px;
}

/* =========================================
   TEXT
========================================= */

.benefitCard p {
  font-size: 13px;
  line-height: 1.5;

  color: #667085;
}

/* =========================================
   ANIMATION
========================================= */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================================
   LAPTOP
========================================= */

@media (max-width: 1200px) {
  .benefitsGrid {
    grid-template-columns: repeat(2, 1fr);

    gap: 50px 34px;
  }

  .benefitsTitle {
    font-size: 3rem;
  }
}

/* =========================================
   TABLET
========================================= */

@media (max-width: 992px) {
  .benefitsContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* =========================================
   MOBILE
========================================= */

@media (max-width: 768px) {
  .benefitsSection {
    padding: 85px 0;
  }

  .benefitsContainer {
    padding-left: 22px;
    padding-right: 22px;
  }

  .benefitsLeft {
    margin-bottom: 60px;
  }

  .benefitsTitle {
    font-size: 2.3rem;

    line-height: 1.2;
  }

  .benefitsGrid {
    grid-template-columns: 1fr;

    gap: 40px;
  }

  .benefitIcon {
    font-size: 30px;

    margin-bottom: 20px;
  }

  .benefitCard h3 {
    font-size: 1.1rem;
  }

  .benefitCard p {
    font-size: 14px;

    line-height: 1.9;
  }
}

/* =========================================
   SMALL MOBILE
========================================= */

@media (max-width: 480px) {
  .benefitsTitle {
    font-size: 1.9rem;
  }
}
/* solutions  */

/* =========================================
   WHY TECKONNECT SECTION
========================================= */

.whyTeckSection {
  position: relative;
  width: 100%;
  overflow: hidden;

  padding: 80px 70px;

  background: #ffffff;
}

/* BACKGROUND EFFECT */

/* =========================================
   CONTAINER
========================================= */

.whyTeckContainer {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 1450px;

  margin: 0 auto;

  padding: 0px 120px;
}

/* =========================================
   TOP CONTENT
========================================= */

.whyTeckLeft {
  text-align: center;

  max-width: 980px;

  margin: 0 auto 110px;

  animation: fadeUp 1s ease;
}

/* LABEL */

.whyTeckLabel {
  background: linear-gradient(90deg, #053a51, #a3cf5d);
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 900;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
  margin-bottom: 5px;
  padding: auto;
  display: inline-block;
}

/* TITLE */

.whyTeckTitle {
  font-size: 26px;
  line-height: 1.5;

  font-weight: 800;

  color: #053a51;

  margin-bottom: 20px;
}

/* HIGHLIGHT */

.whyTeckTitle span {
  color: #008abd;
}

/* DESCRIPTION */

.whyTeckDescription {
  max-width: 560px;

  margin: 0 auto;

  font-size: 13px;
  line-height: 1.5;

  color: #667085;
  margin-bottom: 30px;
  font-weight: 400;
}

/* =========================================
   STATS GRID
========================================= */

.statsGrid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 50px;

  margin-bottom: 110px;
}

/* =========================================
   STAT CARD
========================================= */

.statCard {
  position: relative;

  text-align: center;

  animation: fadeUp 1s ease;

  transition: transform 0.5s ease;
}

/* HOVER */

.statCard:hover {
  transform: translateY(-10px);
}

/* NUMBER */

.statCard h3 {
  position: relative;

  display: inline-block;

  font-size: 26px;
  line-height: 1;

  margin-bottom: 18px;
  background: linear-gradient(90deg, #008abd);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: numberFloat 2s ease-in-out infinite;
  font-weight: 800;
}

/* NUMBER SHADOW */

.statCard h3::after {
  content: '';

  position: absolute;
  left: 50%;
  bottom: -12px;

  transform: translateX(-50%);

  width: 80px;
  height: 14px;

  border-radius: 50%;

  background: radial-gradient(ellipse, rgba(0, 138, 189, 0.2), transparent 70%);
}

/* TEXT */

.statCard p {
  font-size: 13px;
  line-height: 1.5;

  color: #667085;
}

/* VERTICAL DIVIDER */

.statCard::before {
  content: '';

  position: absolute;
  top: 10px;
  right: -25px;

  width: 1px;
  height: 120px;

  background: linear-gradient(
    180deg,
    transparent,
    rgba(0, 138, 189, 0.2),
    transparent
  );
}

/* REMOVE LAST DIVIDER */

.statCard:last-child::before {
  display: none;
}

/* =========================================
   FEATURE GRID
========================================= */

.whyTeckRight {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 70px 60px;
}

/* =========================================
   FEATURE CARD
========================================= */

.featureBox {
  position: relative;

  padding-left: 95px;

  animation: fadeUp 1s ease;

  transition: transform 0.5s ease;
}

/* HOVER */

.featureBox:hover {
  transform: translateY(-8px);
}

/* ICON */

.featureIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: linear-gradient(-180deg, #f6fdff, #c6f0ff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0b7fab;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;

  transition:
    transform 0.5s ease,
    color 0.5s ease;
}

/* ICON HOVER */

.featureBox:hover .featureIcon {
  transform: rotate(-10deg) scale(1.08);

  color: #053a51;
}

/* TITLE */

.featureBox h3 {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;

  color: #053a51;

  margin-bottom: 14px;
}

/* TEXT */

.featureBox p {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 380px;
  color: #667085;
}

/* SMALL LINE */

.featureBox::after {
  content: '';

  position: absolute;
  left: 95px;
  bottom: -30px;

  width: 70px;
  height: 3px;

  border-radius: 50px;

  background: linear-gradient(90deg, #008abd, #a3cf5d);
}

/* =========================================
   ANIMATION
========================================= */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes numberFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

/* =========================================
   TABLET
========================================= */

@media (max-width: 1200px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);

    gap: 60px 40px;
  }

  .statCard:nth-child(2)::before {
    display: none;
  }

  .whyTeckRight {
    grid-template-columns: 1fr;
  }

  .whyTeckTitle {
    font-size: 4.2rem;
  }
}

/* =========================================
   MOBILE
========================================= */

@media (max-width: 768px) {
  .whyTeckSection {
    padding: 95px 0;
  }

  .whyTeckContainer {
    padding-left: 22px;
    padding-right: 22px;
  }

  .whyTeckTitle {
    font-size: 3rem;

    line-height: 1.05;
  }

  .whyTeckDescription {
    font-size: 15px;

    line-height: 1.9;
  }

  .statsGrid {
    grid-template-columns: 1fr;

    gap: 50px;
  }

  .statCard::before {
    display: none;
  }

  .whyTeckRight {
    gap: 55px;
  }

  .featureBox {
    padding-left: 90px;
  }

  .statCard h3 {
    font-size: 4rem;
  }
}

/* =========================================
   SMALL MOBILE
========================================= */

@media (max-width: 480px) {
  .whyTeckTitle {
    font-size: 2.4rem;
  }

  .featureBox {
    padding-left: 0;
    padding-top: 95px;
  }

  .featureBox::after {
    left: 0;
  }
}

/* business aspects */
/* ==============================6===========
   BUSINESS SECTION
========================================= */
.businessSection {
  width: 100%;
  background: #ffffff;
  padding: 70px 120px;
  overflow: hidden;
}

.businessContainer {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}

/* =========================================
   TOP CONTENT
========================================= */

.businessLeft {
  text-align: center;
  max-width: 980px;
  margin: 0 auto 70px;
}

.businessLabel {
  background: linear-gradient(90deg, #053a51, #a3cf5d);
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 900;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
  margin-bottom: 10px;
  padding: auto;
  display: inline-block;
}

.businessTitle {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 800;
  color: #053a51;
  margin-bottom: 18px;
}

.businessTitle span {
  color: #008abd;
}

.businessDescription {
  max-width: 900px;
  margin: auto;
  font-size: 13px;
  line-height: 1.5;
  color: #66737c;
}

/* =========================================
   GRID
========================================= */

.businessRight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-top: 1px dashed rgba(5, 58, 81, 0.14);
  border-left: 1px dashed rgba(5, 58, 81, 0.14);
}

/* =========================================
   CARD
========================================= */

.businessCard {
  position: relative;
  padding: 38px 26px;

  border-right: 1px dashed rgba(5, 58, 81, 0.14);
  border-bottom: 1px dashed rgba(5, 58, 81, 0.14);

  transition: 0.3s ease;
}

.businessCard:hover {
  background: rgba(0, 138, 189, 0.02);
}

/* NUMBER */

.businessNumber {
  font-size: 48px;
  font-weight: 900;
  line-height: 1;

  color: rgba(5, 58, 81, 0.121);

  margin-bottom: 20px;
}

/* TITLE */

.businessCard h3 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  color: #053a51;
  margin-bottom: 14px;
}

/* TEXT */

.businessCard p {
  font-size: 13px;
  line-height: 1.5;
  color: #66737c;
  margin: 0;
}

/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 1100px) {
  .businessRight {
    grid-template-columns: repeat(2, 1fr);
  }

  .businessTitle {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .businessSection {
    padding: 60px 20px;
  }

  .businessRight {
    grid-template-columns: 1fr;
  }

  .businessLeft {
    margin-bottom: 50px;
  }

  .businessTitle {
    font-size: 30px;
  }

  .businessDescription {
    font-size: 14px;
  }

  .businessCard {
    padding: 28px 20px;
  }

  .businessNumber {
    font-size: 38px;
  }

  .businessCard h3 {
    font-size: 18px;
  }

  .businessCard p {
    font-size: 14px;
  }
}
/* =========================================
   SMALL MOBILE
========================================= */

@media (max-width: 480px) {
  .businessTitle {
    font-size: 2.3rem;
  }
}
/* cta  */

.ctaSection {
  padding: 0; /* remove outer white spacing */
  margin: 0;
  background: transparent;
  width: 100%;
}

.ctaBox {
  position: relative;

  /* KEEP SAME HEIGHT/SPACING */
  padding: 20px 8%;
  min-height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* REMOVE BOX LOOK */
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  margin: 0;

  overflow: hidden;

  /* SAME COLOR */
  background: linear-gradient(135deg, #053a51, #a3cf5d);

  text-align: center;
  color: white;
}

/* ============================= */
/* ORBIT WRAPPER */
/* ============================= */
.orbitWrap {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============================= */
/* ORBIT CIRCLES */
/* ============================= */
.orbit {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* DIFFERENT SIZES */
.orbit1 {
  width: 300px;
  height: 300px;
  animation: rotate 12s linear infinite;
}
.orbit2 {
  width: 450px;
  height: 450px;
  animation: rotate 18s linear infinite reverse;
}
.orbit3 {
  width: 600px;
  height: 600px;
  animation: rotate 25s linear infinite;
}
.orbit4 {
  width: 750px;
  height: 750px;
  animation: rotate 35s linear infinite reverse;
}

/* LOGO */
.orbit img {
  width: 30px;
  margin-top: -20px; /* push to top of circle */
}

/* ROTATION */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ============================= */
/* CONTENT */
/* ============================= */
.ctaContent {
  position: relative;
  z-index: 2;
}

.ctaContent h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.ctaContent p {
  margin-top: 20px;
  font-size: 13px;
  line-height: 1.7;
  opacity: 0.95;
}

/* .ctaContent button {
  margin-top: 30px;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  font-size: 13px;
  background: linear-gradient(90deg, #ffffff, #a3cf5d);

  color: #111;
} */
.ctaContent button {
  margin-top: 30px;
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  font-size: 13px;

  background: linear-gradient(90deg, #ffffff, #a3cf5d);
  color: #111;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  position: relative;
  overflow: hidden;

  transition:
    padding-right 0.3s ease,
    transform 0.3s ease;
}

.ctaContent button::after {
  content: '→';

  position: absolute;
  right: 18px;
  top: 50%;

  transform: translate(-8px, -50%);
  opacity: 0;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.ctaContent button:hover {
  padding-right: 38px; /* increase only right side */
  transform: translateY(-2px);
}

.ctaContent button:hover::after {
  opacity: 1;
  transform: translate(0, -50%);
}
@media (max-width: 768px) {
  /* SECTION */
  .ctaSection {
    padding: 40px 16px;
  }

  /* BOX */
  .ctaBox {
    padding: 40px 20px;
    border-radius: 18px;
  }

  /* 🔥 ORBIT CONTROL (KEY FIX) */
  .orbitWrap {
    transform: scale(0.6); /* shrink entire animation */
  }

  /* ORBIT SIZES REDUCED */
  .orbit1 {
    width: 180px;
    height: 180px;
  }

  .orbit2 {
    width: 260px;
    height: 260px;
  }

  .orbit3 {
    width: 340px;
    height: 340px;
  }

  .orbit4 {
    width: 420px;
    height: 420px;
  }

  /* LOGO SIZE */
  .orbit img {
    width: 26px;
    margin-top: -14px;
  }

  /* CONTENT */
  .ctaContent h2 {
    font-size: 20px;
    line-height: 1.3;
  }

  .ctaContent p {
    font-size: 13px;
    margin-top: 14px;
  }

  .ctaContent button {
    font-size: 13px;
    padding: 10px 16px;
    margin-top: 20px;
  }
}
